/* ===================================== Import Less ================================== */
* {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #ffffff;
    overflow-x: hidden;
    float: left;
    width: 100%;
    height: 100%;
}
/* ===================================== Basic CSS ================================== */
header {
    box-shadow: rgb(0 0 0 / 16%) 0px 2px 5px 0px, rgb(0 0 0 / 12%) 0px 2px 10px 0px;
}
.background-negro {
    background: #202125;
}
.background-degradado {
    background: #1327f7;
}
.background-degradado-2 {
    background: #1327f7;
}
.background-green {
    background-color: #f2aa46 !important;
    border-color: #f2aa46 !important;
}
.background-agua {
    background-color: #1327f7 !important;
}
.background-white {
    background-color: #ffffff !important;
}
label {
    display: contents;
    font-size: 16px;
    line-height: 24px;
}
img {
    max-width: 100%;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
    outline: none;
}
ul {
    margin-bottom: 0px;
    padding-left: 0px;
}
a:hover,a:focus,input,textarea {
    text-decoration: none;
    outline: none;
}
h3 {
    width: 100%;
    font-size: 20px;
    padding: 20px 0px;

}
h2,h3,h4,h5 {
    color: #6e6e6e;
    box-sizing: border-box;
}
label {
    color: #6e6e6e;
    box-sizing: border-box;
}
p {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #6e6e6e;
}
/*Sección titulo*/
.sec-title h2 {
    font-size: 50px;
    line-height: 50px;
    text-transform: none;
}
.sec-title h3 {
    font-size: 50px;
    text-transform: none;
    text-align: left;
    color: #1327f7;
    padding: 0px;
}
@media (max-width: 767px) {
    .sec-title h2 {
        text-align: center;
        font-size: 30px !important;
        line-height: 35px;
        padding: 0px;
    }
}
/*Titulos*/
.titulos .div-texto {
    align-self: center;
}
.titulos h2 {
    font-size: 70px;
    text-align: left;
    color: #1327f7;
}
@media (max-width: 991px)
{
    .titulos h2 {
        font-size: 45px;
    }
}
@media (max-width: 767px)
{
    .titulos .div-img {
        text-align: center;
    }
    .titulos img {
        width: 130px;
        margin-bottom: 20px;
    }
    .titulos h2 {
        font-size: 34px;
        text-align: center;
    }
}
/*Titulos2*/
.titulos2 .div-texto {
    align-self: center;
}
.titulos2 .centra {
    width: 700px;
    margin: auto;
}
.titulos2 h2 {
    font-size: 50px;
    text-align: left;
    color: #1327f7;
}
@media (max-width: 991px)
{
    .titulos2 .centra {
        width: 100%;
    }
    .titulos2 h2 {
        font-size: 45px;
    }
}
@media (max-width: 767px)
{
    .titulos2 .div-img {
        text-align: center;
    }
    .titulos2 img {
        width: 130px;
        margin-bottom: 20px;
    }
    .titulos2 h2 {
        font-size: 34px;
        text-align: center;
    }
}
/*Cookies*/
#contenedor_cookies {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0,0,.7);
    display: none;
    align-items: center;
    justify-content: center;
}
#cajacookies {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
}
#cajacookies p {
    width: 100%;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
}
#cajacookies label {
    font-size: 14px;
}
#cajacookies button {
    padding: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background: #1327f7;
    border:solid 0px;
    border-radius: 5px;
}
/*Privacidad*/
#contenedor_privacidad {
    z-index: 9999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0,0,.7);
    display: none;
    align-items: center;
    justify-content: center;
}
#cajaprivacidad {
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
}
#cajaprivacidad p {
    width: 100%;
    margin-bottom: 10px;    
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
}
#cajaprivacidad label {
    font-size: 12px;
}
#cajaprivacidad button {
    width: 300px;
    max-width: 100%;
    padding: 15px;
    color: white;
    background: #1327f7;
    border:solid 0px;
    border-radius: 5px;
}
/* ===================================== Header Style  ================================== */
.hid {
    display: none;
}
header {
    position: relative;
    width: 100%;
    z-index: 999;
    position: absolute;
    margin-top: 40px;
}
@media (max-width: 500px) {
    header {
        position: relative;
        width: 100%;
        z-index: 999;
        position: absolute;
        margin-top: 0px;
    }
}
header .header-nav {
    background: #ffffff;
    width: 100%;
}
/*============info top==============*/
.info-top {
    float: left;
    width: 100%;
    padding: 8px 0px;
}
.info-top .container img {
    float: left;
    width: 18px;
    margin-top: 3px;
}
.info-top .container p {
    float: left;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 30px;
}
.info-top .container a {
    float: right;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    margin-right: 15px;
}
@media (max-width: 500px) {
    .info-top {
        display: none;
    }
}
/*============info top==============*/
.logo-img {
    height: 66px !important;
    margin: 6px;
}
header .header-nav .nav-item ul {
    float: right;
}
@media screen and (max-width: 767px) 
{
    .logo-img {
        height: 40px !important;
        margin: 10px 0px;
    }
    header .header-nav .nav-item ul {
        width: 100%;
    }
}
header .header-nav .nav-item ul li {
    float: left;
    font-size: 14px;
    padding: 20px 5px;
}
header .header-nav .nav-item ul li a {
    color: #6e6e6e;
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 7px 20px;
    border-radius: 5px;
}
@media screen and (max-width: 991px) {    
    header .header-nav .nav-item ul li a {
        padding: 7px 5px;
    }
}
@media screen and (max-width: 767px) {
    header .header-nav .nav-item ul li {
        float: none;
        padding: 0px;
    }
    header .header-nav .nav-item ul li a {
        border-radius: 0px;
        padding: 20px;
    }
}
.small-menu {
    float: right;
    font-size: 32px;
    margin-top: 0px;
    padding: 15px;
    color: #1327f7;
}
.scroll-to-fixed-fixed {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-top: 0px;
}
.scroll-to-fixed-fixed .small-menu {
    margin-top: -62px;
}
.scroll-to-fixed-fixed .menu-redes {
    display: inline;
    float: right;
    color: #fff;
    font-size: 14px;
    margin-top: 17px;
    margin-right: 12px;
}
.scroll-to-fixed-fixed .menu-redes a {
    margin-right: 20px;
    color: #6e6e6e;
}
.scroll-to-fixed-fixed .header-nav {
    background-color: #fff;
}
.scroll-to-fixed-fixed .header-nav ul li a {
    color: #6e6e6e;
}
.scroll-to-fixed-fixed .network-link i {
    color: #6e6e6e;
}
.active {
    background: #1327f7;
    color: #ffffff !important;
    border:solid 0px;
}
.scroll-to-fixed-fixed .header-nav .lob {
    display: block;
}
.scroll-to-fixed-fixed .header-nav .lo {
    display: none;
}
.collapse.show {
    display: block !important;
    background: #fff;
    padding-right: 0px;
    padding-left: 0px;
}
.collapse.show .enlaces-menu {
    color: #666;
}
.flag-lang {
    height: 14px;
    width: 14px;
}
.btn-success {
    background: #1327f7;
    border: solid 0px;
    padding: 15px 0px;
    width: 100%;
    font-weight: bold !important;
    font-size: 16px;
}
.btn-success:hover {
    background: #f2aa46;
}
/* ===================================== Ammenties  ================================== */
.ammenties {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.ammenties-white {
    background-color: #ffffff;
}
.ammenties .sec-title {
    width: 100%;
    text-transform: none;
    margin: 0px;
}
.ammenties .sec-title h2 {
    font-size: 60px;
    text-transform: none;
    color: #ffffff;
    font-weight: bold;
    float: left;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ammenties .ament-item {
    text-align: center;
    background-color: #fff;
}
.p-valores {
    color: #858585;
}
@media screen and (max-width: 900px) {
    .ammenties .ament-item {
        height: auto;
    }
}
.ammenties .ament-item img {
    margin-bottom: 10px;
    width: 110px;
    -webkit-transition: width 0.3s, height 0.3s;
    /* For Safari 3.1 to 6.0 */
    transition: width 0.3s, height 0.3s;
}
.ammenties .ament-item b {
    font-size: 18px;
    color: #858585 !important;
    width: 100%;
}
/* ===================================== Ament4 Style  ================================== */
.ammenties-white {
    background-color: #ffffff;
}
/* ===================================== About Us Style  ================================== */
.home-about {
    overflow: hidden;
    float: left;
    width: 100%;
    background: #ffffff;
}
.home-about .inlay {
    height: 100%;
}
.home-about .sec-title {
    margin-bottom: 10px;
}
.home-about .div-image img {
    width: 400px;
}
.home-about p {
    color: #6e6e6e;
    margin-bottom: 20px;
}
.home-about a {
    float: left;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 20px;
    margin-left: 20px;
    background: #91bf3d;
    font-weight: bold;
    margin-top: 30px;
    border-radius: 5px;
}
@media screen and (max-width: 900px) {
    .home-about {
        height: auto;
        overflow: hidden;
    }
    .home-about .about-img {
        float: left;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .home-about .adout-det {
        float: left;
        width: 100%;
        height: 100%;
        padding: 0px;
    }
    .home-about .adout-det b {
        font-size: 26px;
    }
    .home-about .adout-det p {
        text-align: justify;
        margin-top: 25px;
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) {
    .home-about .about-img img {
        width: 100%;
    }
}
/* ===================================== Software factory ================================== */
#software-factory {
    float: left;
    width: 100%;
}
#software-factory .container div {
    float: left;
}
#software-factory .container div img {
    float: left;
    width: 100%;
}
#software-factory .container div p {
    float: left;
    width: 100%;
    font-size: 20px;
}
#software-factory .comedor-go {
    float: left;
    width: 100%;
}
@media screen and (max-width: 991px) {
    #software-factory .container div {
        justify-content: center;
        align-items: center;
    }
    #software-factory .container div img {
        text-align: center;
        padding: 0px 150px;
        align-items: center;
    }
    #software-factory .container div p {
        margin-top: 30px;
        text-align: center;
        font-size: 16px;
    }
    #software-factory .comedor-go {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 767px) {
    #software-factory .container div img {
        padding: 0px 50px;
    }
}
/* ===================================== Meeting Room Style  ================================== */
.meeting-room {
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px 0px 50px 0px;
}
.meeting-room h2{
    color: #1327f7;
}
.meeting-room .sec-title img {
    text-transform: none;
    text-align: left;
    padding: 0px 0px;
    float: left;
    height: 110px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.subtitulo {
    text-align: center;
    color: #1327f7;font-size: 50px;
}
@media (max-width: 768px) {
    .subtitulo {
        font-size: 32px;
    }
}
.meeting-room .solucion {
    
}
.meeting-room .content-solucion-img {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
}
.meeting-room .content-solucion-img img {
    max-width: 250px;
    max-height: 200px;
    text-align: center;
    margin: 0px auto;    
}
.meeting-room .content-ver-solucion {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 40px;
}
.titulo-app {
    width: 240px;
    font-size: 16px;
    color: #fff !important;
    padding: 15px 10px;
    cursor: pointer;
    border: solid 0px;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    background: #1327f7;
}
.titulo-app:hover {
    background: #f2aa46;
}
.titulo-app:focus {
    outline: none;
}
.titulo-app:active {
    outline: none;
}
.folleto {
    display: inline-block;
    background: #1327f7;
    border: solid 0px;
    color: #fff;
    padding: 15px 40px !important;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold !important;
}
.folleto:hover {
    background: #f2aa46;
    color: #fff;
}
@media screen and (max-width: 450px) {
    .folleto {
        display: inline-block;
        width: 100%;
    }
}
.modal-title {
    color: #1327f7;
    font-weight: bold;
}
/* ===================================== Co-Working Space Style  ================================== */
.co-workin-space {
    float: left;
    width: 100%;
    overflow: hidden;
    margin: 0px;
}
.co-workin-space .inlay {
    height: 100%;
}
.co-workin-space .sec-title {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.co-workin-space .sec-title h2 {
    padding: 20px 0px;
    color: #91bf3d;
    text-align: center;
}
.co-workin-space .sec-title img {
    padding: 20px 0px;
    color: #91bf3d;
    text-align: center;
    width: 500px;
}
.co-workin-space .div-content {
    padding: 0px 20px;
}
.co-workin-space .div-image {
    padding: 0px;
    margin: 0px;
}
.co-workin-space .div-image img {
    width: 100%;
}
.logo-sgs {
    width: 130px;
    display: block;
    margin: 0px auto;
}
.logo-yawi-politica {
    width: 170px;
    display: block;
    margin: 20px auto 0px;
}
.numeros {
    display: block;
    height: 230px;
}
.numeros-h {
    display: none;
}
.co-workin-space .desc-politica {
    padding-bottom: 20px;
}
.co-workin-space .p-politica {
    padding-bottom: 15px;
}
@media screen and (max-width: 991px){
    .numeros {
        display: none;
    }
    .numeros-h {
        display: block;
        margin: 30px 0px;
    }
}
.clientes {
    float: left;
    width: 100%;
    padding: 50px 0px;
}
/* =====================================  Pricing Style  ================================== */
.pricing {
    float: left;
    width: 100%;
}
.pricing h2 {
    box-sizing: border-box;
    float: left;
    margin: 0px auto;
    padding: 30px 0px;
    text-align: center;
}
.slideshow {
    float: left;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .slideshow {
        display: none !important;
    }
}
.slideshow .slide {
    float: left;
    width: 20%;
    height: 200px;
    display: flex;
    align-items: center;
}
.slideshow .slide img {
    width: 70%;
    margin: 0px auto;
}
.slideshow .slide img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    cursor: pointer;
}
.slideshowX1 {
    float: left;
    display: none !important;
    width: calc(100% - 50px) !important;
    margin-left: 25px;
}
.slideshowX1 .slide {
    float: left;
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
}
.slideshowX1 .slide img {
    width: 70%;
    margin: 0px auto;
}
@media screen and (max-width: 767px) {
    .slideshowX1 {
        width: 100%;
        display: block !important;
    }
}
.soluciones {
    float: left;
    width: 100%;
    background-image: url("../images/fondo-soluciones.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.soluciones .sec-title {
    align-items: center;
}
.soluciones .sec-title h2 {
    text-align: center;
}
.soluciones .solucion {
    display: inline-block;
    box-sizing: border-box;
}
.zoom-on:hover{
    transform: scale(1.5);
    transition: 1s;
}
.soluciones .solucion h4>b{
    color: #fff;
}
.soluciones .solucion p {
    color: #fff;
}
    
@media (max-width: 768px) {
    .soluciones .solucion h4>b{
        font-size: 0.5em;
    }
    .soluciones .solucion h4{        
        line-height: 0.6em !important;
    }
    .soluciones .solucion p {
        font-size: 0.5em;
        line-height: 1.2em;
    }
}

.lideres {
    float: left;
    width: 100%;
}
.lideres .sec-title {
    width: 100%;
    text-transform: none;
    margin: 0px;
}
.lideres .sec-title h2 {
    font-size: 60px;
    text-transform: none;
    color: #ffffff;
    font-weight: bold;
    float: left;
    width: 100%;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.lideres .lider {
    display: inline-block;
    box-sizing: border-box;
}
/* ===============================Records============================*/
#records {
    float: left;
    width: 100%;
}
#records .center {
    width: 1140px;
    color: #666666;
    margin: 0px auto;
}
.record {
    float: left;
}
.record .linea-bottom {
    float: left;
    padding: 3px 30px;
    background: #1327f7;
    -webkit-text-fill-color: transparent;
    color: #fff;
}
.record p:first-child {
    float: left;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
    background: #1327f7;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}
.record .dato {
    float: left;
    width: 100%;
    font-size: 80px !important;
    font-weight: 800 !important;
    color: #8c8c8c;
    text-align: left;
    margin-top: 0px;
    line-height: 85px;
}
.cont-records div:last-child {
    padding: 50px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cont-records div:last-child a {
    padding: 15px 40px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    margin: 0px auto;
    margin-top: 70px;
    font-weight: bold;
    background: #1327f7;
}
.cont-records div:last-child a:hover {
    background: #f2aa46;
}
@media screen and (max-width: 991px) {
    .record .dato {
        font-size: 60px !important;
        line-height: 65px;
        text-align: left;
    }
}
@media screen and (max-width: 767px) {
    #records .center {
        float: left;
        width: 100%;
        color: #666666;
        margin: 0px auto;
    }
    .div-h2-records {
        float: left;
        width: 100%;
        padding: 30px 0px;
    }
    .record {
        float: left;
        width: 100%;
        padding: 0px 10px;
    }
    .record .linea-bottom {
        display: none;
    }
    .record p:first-child {
        width: 100%;
        text-align: center;
    }
    .record .dato {
        text-align: center;
        margin-bottom: 30px;
    }
    .cont-records div:last-child a {        
        margin-top: 0px;        
    }
}
#records2 {
    padding: 30px 0px 80px 0px;
    background: #ffffff;
    margin-bottom: 50px;
    float: left;
    width: 100%;
    background-image: url("../images/fondo-record.png");
    height: 462px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#records2 .center {
    width: 1140px;
    color: #666666;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}
.cont-records2 {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.record2 {
    float: left;
    width: 33.3%;
}
.record2 .linea-bottom {
    float: left;
    padding: 3px 30px;
    background: #ffffff;
}
.record2 p:first-child {
    float: left;
    width: 100%;
    font-size: 24px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
}
.record2 .dato {
    float: left;
    width: 100%;
    font-size: 80px !important;
    font-weight: 800 !important;
    color: #ffffff;
    text-align: left;
    margin-top: 0px;
    line-height: 85px;
}
@media screen and (max-width: 991px) {
    .record2 .dato {
        font-size: 42px !important;
    }
}
@media screen and (max-width: 767px) {
    #records2 .center {
        width: 100%;
        color: #666666;
        margin: 0px auto;
    }
    .div-h2-records2 {
        float: left;
        width: 100%;
        padding: 30px 0px;
    }
    .cont-records2 {
        float: left;
        width: 100%;
        padding-bottom: 0px;
    }
    .record2 {
        float: left;
        width: 100%;
    }
    .record2 .linea-bottom {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    #records .center {
        float: left;
        width: 100%;
        color: #666666;
        margin: 0px auto;
    }
    .div-h2-records {
        float: left;
        width: 100%;
        padding: 30px 0px;
    }
    .record2 p:first-child {
        float: left;
        width: 100%;
        font-size: 18px;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
    }
    .record2 .dato {
        float: left;
        width: 100%;
        font-size: 60px !important;
        font-weight: 800 !important;
        text-align: center;
        margin-top: 0px;
        line-height: 60px;
        margin-bottom: 20px;
    }
}
/* =====================================  Location Style  ================================== */
.Formulario-De-Contacto {
    background-color: #fff;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.Formulario-De-Contacto .container {
    padding: 50px 15px;
}
.Formulario-De-Contacto .input-form {
    border: none;
}
.Formulario-De-Contacto .sec-title {
    background: #fff;
    display: flex;
}
.Formulario-De-Contacto img {
    position: relative;
}
.Formulario-De-Contacto h2 {
    float: left;
    width: 100%;   
    color: #1327f7;
    text-align: center;
    font-weight: bold;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Formulario-De-Contacto h3 {
    color: #666 !important;
}
.input-formulario {
    background: #f5f5f5;
    border-radius: 4px;
    padding: 15px 10px !important;
}
.Formulario-De-Contacto iframe {
    bottom: 0;
    position: absolute;
}
@media (max-width: 991px) {
    .Formulario-De-Contacto iframe {
        position: initial;
    }
}
/* =====================================  Contat Us Style  ================================== */
.contact-us {
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    background: #ffffff !important;
}
.contact-us .contat-det {
    padding: 20px 0px;
}
.contact-us .contat-det img {
    float: left;
    max-width: 70px;
    max-height: 60px;
    margin-right: 15px;
}
.contact-us .contat-det p {
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    width: auto;
    display: flex;
    color: #666666;
}
.contact-us .contat-det p b {
    float: left;
    font-size: 18px !important;
    padding-bottom: 5px;
    width: 100%;
    color: #f2aa46 ;
}
@media (max-width: 991px) {
    .contact-us .contat-det {
        display: grid;
    }
    .contact-us .contat-det img {
        margin: 15px auto;
    }
    .contact-us .contat-det p b {
        text-align: center;
    }
    .contact-us .contat-det p {
        text-align: center;
        display: block;
    }
}
/*============================*/
.contact-us2 {
    overflow: hidden;
    box-sizing: border-box;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 50px 0px 50px 0px;
    background: #ffffff !important;
}
.contact-us2 .contat-det {
    padding: 20px 0px;
}
.contact-us2 .contat-det img {
    float: left;
    width: 80px;
    max-width: 80px;
    max-height: 70px;
    margin-right: 15px;
}
.contact-us2 .contat-det p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: auto;
    margin-left: 10px;
    display: flex;
    line-height: 20px;
}
.contact-us2 .contat-det p b {
    float: left;
    font-size: 20px !important;
    color: #91bf3d;
    padding-bottom: 5px;
    width: auto;
}
/* ===================================== Copright Style  ================================== */
.copy {
    float: left;
    width: 100%;
    background: #1327f7;
}
.copy img {
    float: left;
    height: 70px;
}
.copy a {
    color: #fff;
    text-align: left;
    padding: 5px 0px 10px;
    font-size: 16px;
}
.copy h2 {
    display: block;
    text-align: left;
    float: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.copy .redes {
    float: right;
    font-size: 24px;
}
.copy .redes i {
    color: #1327f7;
    background: #ffffff;
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 24px;
    margin-bottom: 10px;
}
.f-copy {
    float: left;
    width: 100%;
    background: #0c1dd7;
}
.f-copy p {
    display: inline-block;
    color: #ffffff94;
    text-align: left;
    padding: 15px 0px;
    font-size: 16px;
    margin: 0px;
}
.f-copy a {
    display: inline-block;
    color: #ffffff94;
    text-align: left;
    padding: 15px 0px;
    font-size: 16px;
    margin: 0px;
}
@media (max-width: 991px) {
    .copy img {
        float: none;
        margin: 0px auto;
    }
    .copy h2 {
        text-align: center;
    }
    .copy a {
        text-align: center;
    }
    .copy p {        
        text-align: center;
    }
    .copy .redes {
        width: 100%;
        text-align: center;
    }
    .f-copy p {
        display: block;
        text-align: center;
    }
    .f-copy a {
        float: none !important;
        display: block;
        text-align: center;
        padding: 8px 0px;
    }
}
.privacidad {
    float: left;
    width: 100%;
    margin-top: 73px;
}
.privacidad table {
    color: #6e6e6e;
}
.privacidad h1 {
    color: #1327f7;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.privacidad h2 {
    width: 100%;
    font-weight: bold;
    padding: 40px 0px 10px;
    font-size: 24px;
    line-height: 34px;
}
.privacidad p {
    width: 100%;
    padding: 5px 0px;
    font-size: 16px;
    line-height: 26px;
}
.tabla {
    background: #f7f7f7;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.tabla p {
    font-size: 16px;
    line-height: 24px;
}
@media (max-width: 991px) 
{
    .privacidad p {
        font-size: 16px;
        line-height: 24px;
    }
}
/* ===================================== Page Navegation Style  ================================== */
.slider-2 {
    width: 100%;
    position: relative;
    margin-top: 113px;
}
.slider-2-img {
    width: 100%;
    position: relative;
}
.slider-2 h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 120px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.page-nav {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 73px;
    padding: 50px;
}
.page-nav h2 {
    font-size: 40px;
    width: 100%;
    color: #ffffff;
}
@media (max-width: 991px) {
    .slider-2 h1 {
        font-size: 60px;
    }
}
@media (max-width: 767px) {
    .page-nav {
        margin-top: 60px;
    }    
    .slider-2 {
        width: 100%;
        position: relative;
        margin-top: 60px;
    }
    .slider-2-img {
        width: 100%;
        position: relative;
    }
    .slider-2 h1 {
        color: #ffffff;
        font-weight: 900 !important;
        font-size: 40px;
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.p-valores {
    height: 220px !important;
    font-size: 14px;
    position: relative;
    line-height: 1.9em;
    width: 100%;
}
@media screen and (max-width: 767px) {
    .p-valores {
        height: auto !important;
    }
}
.h5-valor {
    font-size: 18px;
}
/* ===================================== NetWork Link CSS ================================== */
.contenedorMesa {
    width: 280px;
    height: 170px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 11;
    display: none;
    cursor: pointer;
}
.botonF1 {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #fff;
    right: 0;
    bottom: 0;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16), 0 3px 4px rgba(0, 0, 0, 0.23);
    padding: 5px;
    outline: none !important;
    z-index: 4;
}
.botonF1 img {
    width: 40px;
    height: 40px;
}
.btnMesa {
    width: 250px;
    border-radius: 3px;
    border: none;
    columns: #666666;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.23);
    font-size: 16px;
    outline: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 26px;
    z-index: 4;
}
.btnMesa span a {
    display: block;
    width: 100%;
    color: #666;
    padding: 10px 0px;
}
.botonF2 {
    background: #fff;
    color: #666;
    margin-bottom: 85px;
    transition: 0.5s;
}
.botonF3 {
    background: #fff;
    color: #666;
    margin-bottom: 135px;
    transition: 0.7s;
}
.botonF4 {
    background: #fff;
    color: #666;
    margin-bottom: 175px;
    transition: 0.9s;
}
.botonF5 {
    background: #fff;
    color: #666;
    margin-bottom: 220px;
    transition: 0.99s;
}
.animacionVer {
    display: block;
}
.whatsapbuttom {
    position: fixed;
    line-height: 50px;
    z-index: 2;
    width: 50px;
    height: 50px;
    left: 25px;
    bottom: 20px;
    background: #0aa545;
    color: #fff;
    border-radius: 50%;
    opacity: 1;
    transition: background-color 0.5s linear;
    box-shadow: 0 3px 4px rgb(0 0 0 / 16%), 0 3px 4px rgb(0 0 0 / 23%);
    animation: 3s ease 0s normal forwards 1 fadein;
}
.whatsapbuttom:hover {
    background-color: #087933;
    color: #fff;
}
.messangerbuttom {
    position: fixed;
    line-height: 50px;
    z-index: 2;
    width: 50px;
    height: 50px;
    left: 20px;
    bottom: 90px;
    color: #fff;
    border-radius: 50%;
    opacity: 1;
    transition: background-color 0.5s linear;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
    animation: 3s ease 0s normal forwards 1 fadein;
}
.messangerbuttom:hover {
    transition: background-color 0.5s linear;
    color: white !important;
}
.messangerbuttom:visited,
.messangerbuttom:active,
.messangerbuttom:link {
    color: white !important;
}
#modal-imagen {
    float: left;
    width: 100%;
}
#content-modal-subtitle {
    float: left;
}



.project-container {
    margin-top: 50px;
    position: relative;
}

.recent-project {
    position: relative;
    overflow: hidden;
    margin: 5px;
}
.recent-project img {
    width: 100%;
}
.project-info {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -32px;
  color: #fff;
  width: 100%;
  text-align: center;
}
.project-info h3 {
    line-height: 18px;
}
ul.project-meta {
    margin: 0;
    padding: 0; 
}

ul.project-meta li{
    display: inline-block;
    padding:5px 10px;
    border: 1px solid #fff;
}

ul.project-meta li a{
    display: inline-block;
    color: #fff;
}
ul.project-meta li a:hover{
    color: #f76758;
}

.full-project {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px 20px;
    line-height: 18px;
    font-size: 18px;
    text-transform: capitalize;
    background: rgba(254,82,76, 1); /* Primary color, can be changed via colors.css */
}
.full-project:hover {
    background: rgba(223,81,76, 1); /* Hover color, can be changed via colors.css */
}
.full-project a {
    padding: 0px;
    display: block;
    color: #fff;
}

.full-project a:hover{
    color:#fff;
}

.full-project a i{
    font-size: 14px;
    padding: 0 10px;
    line-height: 20px;
}

/* Overlay and hover effect
/* ---------------------------------------------- */
.recent-project::before {
    content: "";
    background: rgba(59,59,59,0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}
.recent-project:hover::before {
    opacity: 1;
}

.project-info h3,
ul.project-meta,
.full-project {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
         -o-transform: translateY(100px);
            transform: translateY(100px);
}
.project-info h3,
ul.project-meta{
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}

.full-project {
    -webkit-transition: all 0.5s;
       -moz-transition: all 0.5s;
         -o-transition: all 0.5s;
            transition: all 0.5s;
}
.recent-project:hover .project-info h3,
.recent-project:hover ul.project-meta,
.recent-project:hover .full-project {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}



/* Carousel navigation
/* ---------------------------------------------- */

.project-navigation .btn-next,
.project-navigation .btn-prev {
    position: absolute;
    width: 40px;
    height: 70px;
    top: 40%;
    margin-top: -40px;
    background: rgba(59,59,59,0.9);
    color: #fff;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    z-index: 997;
    cursor: pointer;
}

.project-navigation .btn-prev {
    left: 0;
}

.project-navigation .btn-next {
    right: 0;
}

.project-navigation a:hover {
    width: 60px;
    background: rgba(254,82,76, 1); /* Primary color, can be changed via colors.css */
}

.project-container:hover .project-navigation .btn-prev,
.project-container:hover .project-navigation .btn-next {
    opacity: 1;
}