/*Loading page*/
.jm-loadingpage {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
 }
 .jm-loadingpage img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 75px;
  height: auto;
  z-index: 999999999999999;
 }
 .lottie-player {
   width: 100%;
   height: 100%;
 }
 /*Loading page*/
 /* ===================================== Import Less ================================== */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
body {
  background: #f4f4f4;
  overflow-x: hidden;
}
/* ===================================== Basic CSS ================================== */
label {
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  color: #666 !important;
}
img {
  max-width: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: none;
}
ul {
  margin-bottom: 0px;
  padding-left: 0px;
}
a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}
.layy {
  padding: 30px;
}
h2 {
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
  float:left;
  margin:0px;
  padding: 60px 0px;  
  color: #666;
}
@media (max-width: 736px) {
  h2 {    
  font-size: 20px;
  padding: 20px 0px;  
  }
}
h3 {
  width: 100%;
  font-size: 20px;
  padding: 20px 0px; 
  color: #666;
}
h2,h3,h4,h5,p,label{
  color:#666666;
}
p {
  margin-bottom: 5px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  color:#666666;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px;
}
.sec-title {
  text-align: center;
  margin-bottom: 20px;
}
.sec-title h2 {
  font-weight: 600;
  text-transform: none;
}
.sec-title h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  text-align: center !important;
}
.sec-title p {
  font-size: 16px;
}
/* ===================================== Header Style  ================================== */
.hid {
  display: none;
}
header {
  position: relative;
  width: 100%;
  z-index: 999;
  position: absolute;
  margin-top: 1px;
  border-bottom: 1px solid #ccccccab;
}
header .header-nav {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
}
.logo-img {
  width: 110px;
  height: 60px !important;
  margin-top: 5px;
}
header .header-nav .nav-item ul {
  float: right;
}
@media screen and (max-width: 767px) {
  header .header-nav .nav-item ul {
    width: 100%;
  }
}
header .header-nav .nav-item ul li {
  float: left;
  font-size: 14px;
  padding: 28px 15px;
}
@media screen and (max-width: 1200px) {
  header .header-nav .nav-item ul li {
    padding: 28px 5px;
  }
}
@media screen and (max-width: 767px) {
  header .header-nav .nav-item ul li {
    float: none;
    padding: 0px;
  }
  header .header-nav .nav-item ul li a {
    border-top: 1px solid #ccc;
    padding:20px 10px;
  }
}
header .header-nav .nav-item ul li a {
  color: #fff;
  width: 100%;
  float:left;
}
header .header-nav .nav-item ul li a:hover {
  color: #f9b233;
}
@media screen and (max-width: 767px) {
  .logo-img {
    margin-top: 0px;
  }
}
.small-menu {
  float: right;
  color: #fff;
  font-size: 32px;
  margin-top: 0px;
  padding: 15px;
}
.scroll-to-fixed-fixed {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 0px;
}
.scroll-to-fixed-fixed .small-menu {
  margin-top: -60px;
  color: #666;
}
.scroll-to-fixed-fixed .menu-redes {
  display: inline;
  float: right;
  color: #fff;
  font-size: 14px;
  margin-top: 17px;
  margin-right: 12px;
}
.scroll-to-fixed-fixed .menu-redes a {
  margin-right: 20px;
  color: #666;
}
.scroll-to-fixed-fixed .header-nav {
  background-color: #fff;
}
.scroll-to-fixed-fixed .header-nav ul li a {
  color: #666 !important;
}
.scroll-to-fixed-fixed .network-link i {
  color: #666 !important;
}
.scroll-to-fixed-fixed .header-nav ul li .nav-select {
  color: #f9b233 !important;
}
.scroll-to-fixed-fixed .header-nav ul li a:hover {
  color: #f9b233 !important;
}
.scroll-to-fixed-fixed .header-nav .lob {
  display: block;
}
.scroll-to-fixed-fixed .header-nav .lo {
  display: none;
}
.collapse.show {
  display: block !important;
  background: #fff;
}
.collapse.show .enlaces-menu {
  color: #666;
}
.flag-lang {
  height: 14px;
  width: 14px;
}
.theme-btn {
  display: inline-block;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  border-width: 2px !important;
  color: #ffffff;
}
.btn-success {
  background-color: #f9b233;
  border-color: #f9b233;
  color: white;
}
.btn-success:hover {
  background: none;
  border-color: #f9b233 !important;
  color: #f9b233;
}
.btn-success:active {
  background-color: #f9b233 !important;
  border-color: #f9b233 !important;
  color: white;
}
.btn-success:focus {
  background-color: #f9b233 !important;
  border-color: #f9b233 !important;
  box-shadow: none !important;
  color: white;
}
.btn-style-two {
  position: relative;
  padding: 6px 30px;
  line-height: 24px;
  text-transform: uppercase;
  background: none;
  color: #ffffff;
  border: 2px solid #f9b233;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
}
.btn-style-two:hover {
  background: #f9b233;
  color: #ffffff;
}
.btn-style-one {
  position: relative;
  padding: 6px 30px;
  line-height: 24px;
  text-transform: uppercase;
  background: #f9b233;
  color: #ffffff;
  border: 2px solid #f9b233;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50px;
}
.btn-style-one:hover {
  background: none;
  color: #f9b233;
}
/* ===================================== Ament1,2,3,4 Start Style  ================================== */
/* ===================================== Ament1 Style  ================================== */
.ammenties {
  padding: 15px 0px 30px;
}
.ammenties-white {
  background-color: rgba(255, 255, 255, 0.753);
}
.ammenties .ament-item {
  text-align: center;
  padding: 65px 30px 30px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 250px;
}
@media screen and (max-width: 900px) {
  .ammenties .ament-item {
    text-align: center;
    padding: 50px 15px;
    height: auto;
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
@media screen and (max-width: 450px) {
  .ammenties .ament-item {
    text-align: center;
    padding: 50px 30px;
    height: 240px;  
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
.ammenties .ament-item i {
  font-size: 42px;
  margin-bottom: 20px;
  color: #f9b233;
}
.ammenties .ament-item img {
  margin-bottom: 20px;
  width: 70px;
  -webkit-transition: width 0.3s, height 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s, height 0.3s;
}
.ammenties .ament-item img:hover {
  width: 75px;  
}
.ammenties .ament-item:hover {
  box-shadow: 0 6px 2px -4px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.ammenties .ament-item b {
  font-weight: 300;
  font-size: 18px;
  color: #666666 !important;
  margin-top: 10px;
  margin-bottom: 10px !important;
  float: left;
  width: 100%;
}
/* ===================================== Ament4 Style  ================================== */
.ammenties4 {
  padding: 15px;
}
.ammenties-white {
  background-color: rgba(255, 255, 255, 0.753);
}
.ammenties4 .ament-item {
  text-align: center;
  padding: 70px 30px 30px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 250px;
  width:100%;
}
@media screen and (max-width: 900px) {
  .ammenties4 .ament-item {
    text-align: center;
    padding: 50px 15px;
    height: auto;
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
@media screen and (max-width: 450px) {
  .ammenties4 .ament-item {
    text-align: center;
    padding: 50px 30px;
    height: auto;
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
.ammenties4 .ament-item i {
  font-size: 42px;
  margin-bottom: 20px;
  color: #f9b233;
}
.ammenties4 .ament-item img {
  font-size: 42px;
  margin-bottom: 20px;
  width:60px;
  -webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s;
}
.ammenties4 .ament-item img:hover {
  width: 70px;  
}
.ammenties4 .ament-item-4-2 img {
  font-size: 42px;
  margin-bottom: 20px;
  width:80px;
  -webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s;
}
.ammenties4 .ament-item-4-2 img:hover {
  width: 90px;  
}
.ammenties4 .ament-item b {
  font-weight: 300;
  font-size: 18px;
  color: #666666 !important;
  margin-top: 10px;
  margin-bottom: 20px !important;
  float: left;
  width: 100%;
}
.ammenties4 .ament-item p {
  text-align: justify;
  font-size:16px;
}
/* ===================================== Ament5 Style  ================================== */
.ammenties5 {
  padding: 15px;
}
.ammenties-white {
  background-color: rgba(255, 255, 255, 0.753);
}
.ammenties5 .ament-item {
  text-align: center;
  padding: 90px 30px 30px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #fff;
  height: 320px;
  width:100%;
}
@media screen and (max-width: 900px) {
  .ammenties5 .ament-item {
    text-align: center;
    padding: 40px 15px;
    height: auto;  
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #fff;
  }
}
@media screen and (max-width: 500px) {
  .ammenties5 .ament-item {
    text-align: center;
    padding: 90px 30px;
    height: auto;
    border-radius: 2px;
    margin-bottom: 30px;
    background-color: #fff;
  }
  .ammenties5 .ament-item p {
    text-align: justify;
    font-size:14px;
    line-height: 26px;
  }
}
.ammenties5 .ament-item i {
  font-size: 42px;
  margin-bottom: 20px;
  color: #f9b233;
}
.ammenties5 .ament-item img {
  font-size: 42px;
  margin-bottom: 20px;
  width:70px;
  -webkit-transition: width 0.3s, height 0.3s; /* For Safari 3.1 to 6.0 */
  transition: width 0.3s, height 0.3s;
}
.ammenties5 .ament-item img:hover {
  width: 75px;  
}
.ammenties5 .ament-item b {
  font-weight: 300;
  font-size: 18px;
  color: #666666 !important;
  margin-top: 10px;
  margin-bottom: 0px !important;
  float: left;
  width: 100%;
}
.ammenties5 .ament-item p {
  text-align: justify;
  font-size:16px;
}
/* ===================================== Ament1,2,3,4 End Style  ================================== */
/* ================================================================================================ /*

/* ===================================== About Us Style  ================================== */
.home-about {
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.home-about .inlay {
  height: 100%;
  color: #fff;
  padding: 40px;
}
.home-about .sec-title {
  margin-bottom: 5px;
}
.home-about .div-content {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.753);
}
.home-about .div-image {
  padding: 0px;
  margin: 0px;
}
.home-about .div-image img {
  width: 100%;
}
.home-about p {
  text-align: justify;
  font-size: 16px;
  width: 100%;
  color: #878787;
  padding: 0px 20px;
  margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
  .home-about {
    height: auto;
    overflow: hidden;
  }
  .home-about .about-img {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .home-about .about-img img {
    width: 100%;
    height: 100%;
  }
  .home-about .adout-det {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0px;
  }
  .home-about .adout-det .layy {
    background: rgba(244, 187, 4, 0.95);
    height: 100%;
    color: #fff;
    padding: 30px;
  }
  .home-about .adout-det b {
    font-size: 26px;
  }
  .home-about .adout-det p {
    text-align: justify;
    margin-top: 25px;
    font-size: 16px;
  }
}
/* ===================================== Meeting Room Style  ================================== */
.meeting-room {
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px 0px 50px 0px;
}
.meeting-room table {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}
.meeting-room table tr td,
.meeting-room table th {
  border-right: 1px solid #ccc;
  text-align: center;
}
.meeting-room .features {
  margin-top: 20px;
}
.meeting-room .features ul li {
  list-style: disc;
  margin-left: 20px;
  font-size: 14px;
}
.titulo-app {
  width: 100%;
  font-size: 18px;
  background: #f9b233;
  color: #fff;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
  border: solid 1px #f9b233;
  outline: none;
}
.titulo-app:focus {
  outline: none;
}
.titulo-app:active {
  outline: none;
}
/* ===================================== Co-Working Space Style  ================================== */
.co-workin-space {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 50px 0px;
}
.co-workin-space .inlay {
  height: 100%;
  color: #fff;
  padding: 40px;
}
.co-workin-space .sec-title {
  margin-bottom: 10px;
}
.co-workin-space .sec-title h2 {
  padding:20px 0px;
  color: #666666;
  border-bottom: solid 1px rgb(228, 228, 228);
  text-align: left;
}
.co-workin-space .div-content {
  padding: 0px 40px;
  background: #f0f2f2
}
.co-workin-space .div-image {
  padding: 0px;
  margin: 0px;
}
.co-workin-space .div-image img {
  width: 100%;
}
.co-workin-space p {
  text-align: justify;
  font-size: 16px;
  padding-bottom: 20px;
  color: #878787 !important;
  line-height: 35px
}
/* =====================================  Pricing Style  ================================== */
.pricing {
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px 0px 50px 0px;
}
.pricing .price-tab {
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
}
.pricing .price-tab img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .pricing .price-tab {   
    padding: 0px;
  }
  .pricing .price-tab img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 450px) {
  .pricing .price-tab {   
    padding: 0px;
  }
  .pricing .price-tab img {
    width: 100%;
    height: 280px;
    margin-bottom: 0px;
  }
}
/* =====================================  Location Style  ================================== */
.si-margin {
  padding-bottom: 20px;
}
.contact-us-single {
  background-color: #f7f7f7;
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.contact-us-single .cop-ck {
  padding: 20px 30px;
}
.form-control {
  background-color: #f8f8f8;
  margin-bottom: 20px;
  border: 2px solid #ccc !important;
  font-size: 14px;
}
.form-control:focus {
  background-color: #fff;
  box-shadow: none;
  border: 2px solid #f9b233 !important;
  font-size: 14px;
}
/* =====================================  Contat Us Style  ================================== */
.contact-us {
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px 0px 50px 0px;
}
.contact-us h2 {
  color: #666;
}
.contact-us .contat-det {
  text-align: center;
  padding-bottom: 40px;
}
.contact-us .contat-det i {
  font-size: 32px;
  margin-bottom: 20px;
  color: #f9b233;
}
.contact-us .contat-det p {
  font-size: 16px;
}
.contact-us .contat-det-2 {
  text-align: center;
  padding: 70px 0px;
}
@media screen and (max-width: 720px) {
  .contact-us .contat-det-2 {
    text-align: center;
    padding: 10px 0px;
  }
}
.contact-us .contat-det-2 i {
  font-size: 32px;
  margin-bottom: 20px;
  color: #f9b233;
}
.contact-us .contat-det-2 p {
  font-size: 16px;
}
 .cop-ck {
  padding: 20px 30px;
}
/* ===================================== Copright Style  ================================== */
.copy {
  float: left;
  width: 100%;
  padding: 20px;
  background-color: #2e2e2e;
  color: #fff;
}
.copy p {
  color: #fff;
}
.copy span {
  float: right;
}
.copy span i {
  margin-right: 20px;
}
.copy span i {
  color: #fff;
}
.copy span i:hover {
  color: #f9b233;
}
/* ===================================== Page Navegation Style  ================================== */
.slider-2 {
  width: 100%;
  position: relative;
}
.slider-2-img {
  width: 100%;
  position: relative;
  height: 550px;
}
.page-nav {
  padding: 20px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.753);
}
.page-nav h2 {
  font-size: 30px;
  width: 100%;
  color: #666;
  font-weight: 600;
}
.page-nav ul {
  float: none;
  margin: auto;
}
.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}
.page-nav i {
  width: 30px;
  text-align: center;
  color: #666;
}
.page-nav a {
  color: #666;
}
/* ===================================== Testimonial Style  ================================== */
.testimonial-container {
  background-image: url("../images/pattern-bg-orange.jpg");
  overflow: hidden;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.testimonial-container .layy-2 {
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 60px;
}
@media screen and (max-width: 720px) {
  .testimonial-container .layy-2 {
    padding: 10px;
  }
  .testimonial-container .layy-2 .sec-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.testimonial-container .layy-2 .sec-title {
  margin-bottom: 50px;
}
.testimonial-container .layy-2 .sec-title h2 {
  color: #fff;
}
.testimonial-container .layy-2 .sec-title p {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}
/* ===================================== About Us Team CSS ================================== */
.our-team {
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .our-team {
    padding: 30px 10px;
  }
}
.our-team .team-row {
  margin-top: 20px;
}
.our-team .team-row .single-usr {
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65),
    0 2px 6px 0 rgba(206, 206, 238, 0.54);
  margin-bottom: 20px;
}
.our-team .team-row .single-usr img {
  width: 100%;
}
.our-team .team-row .single-usr .det-o {
  padding: 20px;
  background-color: #f9b233;
}
.our-team .team-row .single-usr .det-o h4 {
  color: #fff;
  margin-bottom: 0px;
}
.our-team .team-row .single-usr .det-o i {
  color: #fff;
}
.p-valores {
  height: 220px !important;
  font-size: 14px;
  text-align: justify;
  position: relative;
  line-height: 1.9em;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-valores {
    height: auto !important;
  }
}
.h5-valor {
  font-size: 18px;
}
/* ===================================== NetWork Link CSS ================================== */
@media screen and (max-width: 767px) {
  li.network-link {
    position: absolute;
    margin-top: -27.3em;
    border-top: none !important;
  }
  li.network-link a:hover {
    color: #f9b233;
  }
  li.network-link.lnkin {
    right: 140px;
  }
  li.network-link.fb {
    right: 120px;
  }
  li.network-link.lang-es {
    right: 90px;
  }
  li.network-link.lang-en {
    right: 60px;
  }
  .network-link img {
    margin-top: 100px;
  }
  .network-link i {
    color: white;
    margin-top: 100px;
  }
  .network-link a {
    cursor: pointer;
  }
}
.contenedorMesa{
  width:280px;
  height:240px;
  position:fixed;
  right:0px;
  bottom:0px;
  z-index:2;
}
.botonF1{
  width:60px;
  height:60px;
  border-radius:100%;
  background:#fff;
  right:0;
  bottom:0;
  position:absolute;
  margin-right:16px;
  margin-bottom:16px;
  border:none;
  outline:none;
  color:#FFF;
  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;
  padding:5px;
}
span{
  transition:.5s;  
}
.botonF1:hover span{
  transform:rotate(360deg);
}
.botonF1:active{
  transform:scale(1.1);
}
.btnMesa{
  width:250px;
  height:40px;
  border-radius:5px;
  border:none;
  columns: #666666;
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  font-size:16px;
  outline:none;
  position:absolute;
  right:0;
  bottom:0;
  margin-right:26px;
  transform:scale(0);
}
.btnMesa a{
  color:#666;
}
.botonF2{
  background:#fff;
  color:#666;
  margin-bottom:85px;
  transition:0.5s;
}
.botonF3{
  background:#fff;
  color:#666;
  margin-bottom:130px;
  transition:0.7s;
}
.botonF4{
  background:#fff;
  color:#666;
  margin-bottom:175px;
  transition:0.9s;
}
.botonF5{
  background:#fff;
  color:#666;
  margin-bottom:220px;
  transition:0.99s;
}
.animacionVer{
  transform:scale(1);
}
.whatsapbuttom {
  position: fixed;
  line-height: 50px;
  z-index: 2;
  width: 50px;
  height: 50px;
  left: 25px;
  bottom: 20px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.5s linear;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
  animation: 3s ease 0s normal forwards 1 fadein;
}
.whatsapbuttom:hover {
  background-color: #95C23D;
  transition: background-color 0.5s linear;
  color: white !important;
}
.whatsapbuttom:visited, .whatsapbuttom:active, .whatsapbuttom:link {
  color: white !important;
}
.messangerbuttom {
  position: fixed;
  line-height: 50px;
  z-index: 2;
  width: 50px;
  height: 50px;
  left: 20px;
  bottom: 90px;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
  transition: background-color 0.5s linear;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .15);
  animation: 3s ease 0s normal forwards 1 fadein;
}
.messangerbuttom:hover {
  transition: background-color 0.5s linear;
  color: white !important;
}
.messangerbuttom:visited, .messangerbuttom:active, .messangerbuttom:link {
  color: white !important;
}
/* ===================================== Politics CSS ================================== */
.politics-p {
  width: 100%; 
  padding: 10px 0px 10px;
}
/* ===================================== Slider Animation CSS ================================== */
/*-- /reset code --*/
.pogoSlider-slide-element {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  text-align: center;
}
.container-text-slider {
  width: 60%;
  float:left;
}
.container-img-slider {
  width: 40%;
  float:left;
}
.pogoSlider-slide-element h3 {
  color: #fff !important;
  font-size: 54px;
  text-align: left;
  line-height: 60px;
  width: 100%;
  letter-spacing: 3px;
  padding: 0px;
  text-transform: uppercase;
  margin:0px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.pogoSlider-slide-element .img-slider {
  display: flex;
  width: 100%;
  height: auto;
}
.pogoSlider-slide-element p {
  color: #fff !important;
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  width: 20%;
  padding: 10px 0px 0px 0px;
  line-height: 35px;
  margin:0px;
}
.pogoSlider-slide-element ul.banner-agileits {
  padding-top: 30px;
  text-align: left;
}
.pogoSlider-slide-element ul.banner-agileits li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.pogoSlider-slide-element ul.banner-agileits li a.link-w3l1 {
  width: 260px;
  text-decoration: none;
  padding: 5px 0px;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  color: #666666;
  text-align: center;
  background: white;
  display: inline-block;
  border: 2px solid white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
}
.pogoSlider-slide-element ul.banner-agileits li a.link-w3l1:hover {
  background: none;
  color: white;
}
.pogoSlider-slide-element ul.banner-agileits li a.link-w3l2 {
  width: 260px;
  text-decoration: none;
  padding: 5px 0px;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  border: solid 2px white;
  display: inline-block;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  -ms-border-radius: 25px;
}
.pogoSlider-slide-element ul.banner-agileits li a.link-w3l2:hover {
  background: white;
  color: #333;
}
.btn {
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*-- /banner section --*/





/*====================================medidas para pc medium================================*/

@media (max-width: 1680px) {
  .pogoSlider {
    height: 700px !important;
  }
  .pogoSlider-slide-element {
    padding-top: 30px;
  }
  .container-text-slider {
    width: 50%;
    float:left;
  }
  .pogoSlider-slide-element h3 {
    font-size: 50px;
    text-align: left;
    padding-bottom: 0;
  }
  .pogoSlider-slide-element ul.banner-agileits {
    padding-top: 10px;
    text-align: left;
  }
}
@media (max-width: 1680px) {
  .banner-agileits li  {
    width: 100%;
    padding: 0px;

  }
  .pogoSlider-slide-element ul.banner-agileits li a.link-w3l1,
  .pogoSlider-slide-element ul.banner-agileits li a.link-w3l2 {
    width: 70% !important;
    margin-left: 0%;
    line-height: 30px;
    font-size: 14px;
    display: block;
    float:left;
    margin-bottom: 5px;
  }
}


/*====================================medidas para moviles================================*/
@media (max-width: 991px) {
  .pogoSlider {
    height: 500px !important;
  }
  .pogoSlider-slide-element {
    padding-top: 20px;
  }
  .container-text-slider {
    width: 50%;
    float:left;
    padding: 15px 0px 0px;
  }
  .pogoSlider-slide-element h3 {
    font-size: 26px;
    line-height: 36px;
    padding: 0px 0px 0px;
    text-align: center;
    font-family: 'Play', sans-serif !important;
    font-family: 'News Cycle', sans-serif !important;
    font-weight: normal;
  }
  .pogoSlider-slide-element ul.banner-agileits {
    padding-top: 10px;
    text-align: center;
  }
  .banner-agileits li  {
    width: 100%;
    padding: 0px;
  }
  .pogoSlider-slide-element ul.banner-agileits li a.link-w3l1,
  .pogoSlider-slide-element ul.banner-agileits li a.link-w3l2 {
    width: 80% !important;
    margin-left: 10%;
    line-height: 30px;
    font-size: 14px;
    display: block;
    float:left;
    margin-bottom: 5px;
  }
  .container-img-slider {
    float: left;
    width: 50%;
    height: auto;
  }
  .container-img-slider .img-slider {
    float: left;
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .col-lg-4.col-md-4.col-sm-6.serv-agileinfo2 {
    padding-top: 0px;
    width: 100%;
  }
  .col-lg-12.col-md-12.col-sm-6.serv-wthree4 {
    width: 100%;
  }
  .col-lg-12.col-md-12.col-sm-6.serv-wthree4 {
    width: 50%;
    margin: 0 auto;
    float: none;
  }
  .col-lg-4.col-md-4.col-sm-6.serv-agileinfo3 {
    width: 100%;
  }
  .col-lg-12.col-md-12.col-sm-6.serv-wthree6 {
    padding-bottom: 0px;
  }
  .col-lg-4.col-md-4.col-sm-6.col-xs-12.footer-agile1 {
    padding-bottom: 30px;
  }
  .col-lg-4.col-md-4.col-sm-12.col-xs-12 {
    text-align: center;
  }
  ul.link-w3l.cl-effect-21 {
    text-align: center;
  }
}
@media (max-width: 823px) {
  .pogoSlider {
    height: 450px !important;
  }
  .pogoSlider-slide-element {
    padding-top: 0px;
  }
}

@media (max-width: 736px) {
  .pogoSlider {
    height: 450px !important;
  }
  .col-lg-12.col-md-12.col-sm-6.serv-wthree1,
  .col-lg-12.col-md-12.col-sm-6.serv-wthree2,
  .col-lg-12.col-md-12.col-sm-6.serv-wthree3,
  .col-lg-12.col-md-12.col-sm-6.serv-wthree4,
  .col-lg-12.col-md-12.col-sm-6.serv-wthree6 {
    padding-bottom: 40px;
  }
  .col-lg-12.col-md-12.col-sm-6.serv-wthree5 {
    padding-bottom: 0;
  }
  .col-lg-12.col-md-12.col-sm-6.serv-wthree4 {
    width: 100%;
  }
  section.footer-w3 input#email2 {
    width: 70%;
  }
  section.footer-w3 button.btn.btn-outline.btn-lg {
    width: 30%;
  }
  section.footer-w3 ul.tweet-agile li p.tweet-p1 {
    margin: -48px 0 20px 44px;
  }
}



/*=================Dispositivos moviles verticales < 639px==================================*/
@media (max-width: 639px) {
  .pogoSlider {
    height: 100vh !important;
  }
  .pogoSlider-slide-element {
    padding-top: 40px;
  }
  .container-text-slider {
    width: 100%;
    float:left;
  }
  .pogoSlider-slide-element h3 {
    font-size: 40px;
    line-height: 40px;
    padding: 0px 0px 0px;
  }
  .container-img-slider {
    display:block;
    width: 100%;
    height: auto;
  }
  .container-img-slider .img-slider {
    display:block;
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .banner-agileits li  {
    width: 100%;
    padding: 0px;
  }
  .pogoSlider-slide-element ul.banner-agileits li a.link-w3l1,
  .pogoSlider-slide-element ul.banner-agileits li a.link-w3l2 {
    width: 80% !important;
    margin-left: 10%;
    line-height: 30px;
    font-size: 14px;
    display: block;
    float:left;
  }
}
@media (max-width: 570px) {
  .pogoSlider {
    height: 110vh !important;
  }
  .pogoSlider-slide-element {
    padding-top: 10px;
  }  
}
@media (max-width: 450px) {
  .pogoSlider {
    height: 110vh !important;
  }
  .pogoSlider-slide-element {
    padding-top: 10px;
  }
  .container-text-slider {
    width: 100%;
    float:left;
  }
  .pogoSlider-slide-element h3 {
    font-size: 34px;
    line-height: 34px;
    padding: 0px 0px 0px;
  }
  .banner-agileits li  {
    width: 100%;
  }
  .container-img-slider {
    display:block;
    width: 100%;
    height: auto;
  }
  .container-img-slider .img-slider {
    display:block;
    width: 100%;
    height: auto;
    margin: 0px;
  }  
}
@media (max-width: 343px) {
  .pogoSlider-slide-element h3 { 
    font-size: 22px;   
    line-height: 30px;
    padding: 0px 0px 0px;
  }
}
