/* ===================================== Import Less ================================== */
@font-face {
  font-family: "mouse-300";
  src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "mouse-500";
  src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype");
}
/* ===================================== Basic CSS ================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}
h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
}
a {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

p {
  margin-bottom: 0px;
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}

.container-fluid {
  padding: 0px;
  width: 100%;
  float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

strong {
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
}

body {
  background-color: #f7f7ff !important;
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6a6a6a;
}

.session-title {
  padding: 30px;
  margin: 0px;
}
.session-title h2 {
  width: 100%;
  text-align: center;
}
.session-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
}
.session-title span {
  float: right;
  font-style: italic;
}

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin-bottom: 30px;
}
.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "slab", Arial, Helvetica, sans-serif;
}
.inner-title p {
  width: 100%;
  text-align: center;
}

.page-nav {
  padding: 40px;
  text-align: center;
  padding-top: 160px;
}
.page-nav ul {
  float: none;
  margin: auto;
}
.page-nav h2 {
  font-size: 36px;
  width: 100%;
  color: #444;
}
@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}
.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
}
.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #444;
}
.page-nav ul li a {
  color: #444;
}

.btn-success {
  background-color: #00ab9f;
  border-color: #00ab9f;
}
.btn-success:hover {
  background-color: #00ab9f !important;
  border-color: #00ab9f !important;
}
.btn-success:active {
  background-color: #00ab9f !important;
  border-color: #00ab9f !important;
}
.btn-success:focus {
  background-color: #00ab9f !important;
  border-color: #00ab9f !important;
  box-shadow: none !important;
}

.btn-info {
  background-color: #4f6dcd;
  border-color: #4f6dcd;
}
.btn-info:hover {
  background-color: #4f6dcd !important;
  border-color: #4f6dcd !important;
}
.btn-info:active {
  background-color: #4f6dcd !important;
  border-color: #4f6dcd !important;
}
.btn-info:focus {
  background-color: #4f6dcd !important;
  border-color: #4f6dcd !important;
  box-shadow: none !important;
}

.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid #00a8df;
}

.btn-light {
  background-color: #fff;
  color: #3f3f3f;
}

.collapse.show {
  display: block !important;
}

.form-control:focus {
  box-shadow: none;
  border: 2px solid #0d7a40 !important;
}

.form-control {
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
.form-control:focus {
  background-color: #fff;
  border-color: #ccc;
}

.container {
  max-width: 1100px;
}

@media screen and (max-width: 1060px) {
  .container {
    max-width: 100%;
    overflow: hidden;
  }
}

/* ===================================== Header CSS ================================== */
.cover {
  width: 100%;
  height: 295px;
  float: left;
}
.image-top {
  float: left;
  width: 100%;
  height: 295px;
}
.cover .cover-layer {
  position: absolute;
  width: 100%;
  height: 295px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
}
@media screen and (max-width: 767px) {
  .image-top {
    height: 200px;
  }
  .cover .cover-layer {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
}

.web-portion {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin-top: 118px;
  padding: 0px;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .profil-det-img {
    border-bottom: 1px solid #ccccccb3;
  }
}
.profil-det-img .dp {
  padding: 15px;
  padding-right: 5px;
}
.profil-det-img .dp img {
  border-radius: 50px;
  width: 80px;
}
@media screen and (max-width: 850px) {
  .profil-det-img .dp img {
    width: 60px;
  }
}
.profil-det-img .pd {
  padding: 10px;
  vertical-align: middle;
  margin: auto 0;
}
.profil-det-img .pd h2 {
  font-size: 22px;
  margin-bottom: 0px;
}
@media screen and (max-width: 850px) {
  .profil-det-img .pd h2 {
    font-size: 18px;
  }
}
.profil-det-img .pd p {
  font-size: 14px;
}

.eml-mob {
  border-right: 1px solid #ccccccb3;
  border-left: 1px solid #ccccccb3;
}
@media screen and (max-width: 767px) {
  .eml-mob {
    border-bottom: 1px solid #ccccccb3;
    border-right: none;
    border-left: none;
    padding: 5px 30px;
    margin-top: 0px;
  }
}
.eml-mob ul {
  padding: 0px;
  margin-left: 0px;
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .eml-mob ul {
    margin-top: 0px !important;
  }
}
@media screen and (max-width: 850px) {
  .eml-mob ul {
    margin-top: 15px;
  }
}
.eml-mob ul li {
  padding: 5px 10px;
  font-size: 16px;
  padding-left: 0px;
}
@media screen and (max-width: 850px) {
  .eml-mob ul li {
    font-size: 14px;
  }
}
.eml-mob ul li i {
  font-size: 18px;
  margin-right: 10px;
}

.map-mark i {
  padding: 10px;
  font-size: 44px;
  padding-left: 0px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 850px) {
  .map-mark i {
    font-size: 32px;
  }
}
.map-mark p,
ul {
  font-size: 16px;
  margin: auto 0;
  padding-right: 15px;
}
@media screen and (max-width: 850px) {
  .map-mark p {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .map-mark {
    padding-left: 30px;
  }
}

.nav-detail .nav-tabs {
  background-color: #cccccc47;
}
.nav-detail .nav-tabs .nav-link {
  padding: 10px 40px;
  font-weight: 300;
}
@media screen and (max-width: 746px) {
  .nav-detail .nav-tabs .nav-link {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 544px) {
  .nav-detail .nav-tabs .nav-link {
    padding: 10px;
  }
}
@media screen and (max-width: 448px) {
  .nav-detail .nav-tabs .nav-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 406px) {
  .nav-detail .nav-tabs .nav-link {
    padding: 10px 5px;
    font-size: 13px;
  }
}
.nav-detail .nav-tabs .nav-link.active {
  background-color: #cccccc47;
  border-top: 0px;
  border-bottom: 3px solid #00ab9f;
}

.home-det .big-img {
  border-right: 1px solid #cccccc82;
  padding: 15px;
  text-align: center;
}
.home-det .big-img .links {
  padding: 20px 0px;
}
.home-det .big-img .links .btn-link li {
  float: left;
  width: 100%;
}
.home-det .big-img .links .btn-link li a {
  float: left;
  width: 100%;
  color: white;
  padding: 5px 0px;
  border-radius: 15px;
  margin: 0px;
  color: #fff;
  background-color: #00ab9f;
}

.home-det .home-dat {
  padding: 25px;
}
.home-det .home-dat h3 {
  font-style: 22px;
}
.home-det .home-dat p {
  text-indent: 20px;
  font-size: 15px;
}
.home-det .home-dat .links {
  padding: 50px 0px;
}
.home-det .home-dat .links .btn-link {
  float: left;
  width: 100%;
}
.home-det .home-dat .links .btn-link li {
  float: left;
  width: 100%;
}
@media screen and (max-width: 483px) {
  .home-det .home-dat .links .btn-link li {
    width: 100%;
  }
}
.home-det .home-dat .links .btn-link li i {
  margin-top: 5px;
}
.home-det .home-dat .links .btn-link li a {
  color: #fff;
  float: left;
  width: 100%;
  padding: 10px 0px;
}
.home-det .home-dat .links .social-link {
  float: left;
}
.home-det .home-dat .links .social-link li {
  float: left;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  text-align: center;
  margin-right: 10px;
}
@media screen and (max-width: 483px) {
  .home-det .home-dat .links .social-link li {
    margin-right: 5px !important;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .home-det .home-dat .links {
    padding: 20px 0px;
  }
  .home-det .home-dat .links .social-link {
    margin-top: 20px;
  }
}
.home-det .home-dat .addrss-list {
  width: 100%;
}
.home-det .home-dat .addrss-list tr {
  border-left: 1px solid #ccc;
}
.home-det .home-dat .addrss-list tr td {
  padding: 13px 10px;
  border: 1px solid #ccc;
}
.home-det .home-dat .addrss-list tr th {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 13px 10px;
}
@media screen and (max-width: 1200px) {
  .home-det .home-dat .addrss-list tr th {
    width: 200px;
  }
}
@media screen and (max-width: 450px) {
  .home-det .home-dat .addrss-list tr th {
    width: 120px;
  }
}

.profile-tab {
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .profile-tab {
    padding: 30px 10px;
  }
}
.profile-tab .profile-desic {
  text-align: center;
}
.profile-tab .sec-title {
  padding: 20px;
  text-align: center;
  font-size: 22px;
}
.profile-tab .service-ro .singe-servic {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 10px;
}
.profile-tab .service-ro .singe-servic i {
  font-size: 42px;
  margin-bottom: 20px;
  color: #00ab9f;
}
.profile-tab .service-ro .singe-servic h4 {
  font-size: 19px;
  margin-bottom: 10px;
}
.profile-tab .service-ro .singe-servic p {
  font-size: 14px;
}

.education-detail {
  padding: 50px;
}
@media screen and (max-width: 940px) {
  .education-detail {
    padding: 30px 10px;
  }
}
.education-detail .sec-title {
  padding: 20px;
  text-align: center;
  font-size: 22px;
}
.education-detail .service {
  padding: 20px;
}
.education-detail .service .resume-dat {
  text-align: center;
}

.portfolio-detail {
  padding: 20px;
}
.portfolio-detail .gallery img {
  margin-top: 20px;
}

.contact-tab {
  padding: 20px;
}
.contact-tab iframe {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 575px) {
  .rgbf {
    text-align: center;
  }
}
.Descripcion {
  text-align: justify;
}
.ltitle {
  font-size: 1.4rem;
  margin-top: 20px;
}

.hoby li {
  float: left;
  font-size: 0.9rem;
  padding: 15px;
  text-align: center;
  width: 16.66%;
}
.hoby li i {
  font-size: 22px;
  margin-bottom: 15px;
}

.progress-bar {
  background-color: #00ab9f;
}

.profile-box {
  width: 1050px;
  margin: 30px auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
@media screen and (max-width: 1070px) {
  .profile-box {
    margin: 0px;
  }
}
.profile-box .detail-px {
  padding: 60px;
}
.profile-box .detail-px h3 {
  width: 100%;
  background-color: #00ab9f;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.profile-box .detail-px .mth3 {
  margin-top: 20px;
}
.profile-box .detail-px .fx-ro {
  display: flex;
  padding: 5px;
}
.profile-box .detail-px .fx-ro .dat {
  padding: 13px 20px;
}
.profile-box .detail-px .fx-ro .detail b {
  font-size: 1rem;
}
.profile-box .detail-px .fx-ro .detail p {
  font-size: 0.9rem;
}
.profile-box .detail-px .exrts {
  padding-left: 20px;
}
.profile-box .detail-px .exrts li {
  float: left;
  width: 50%;
  padding: 3px;
}
@media screen and (max-width: 767px) {
  .profile-box .detail-px {
    margin-bottom: 180px;
  }
}
@media screen and (max-width: 480px) {
  .profile-box .detail-px {
    padding: 20px;
  }
}

.leftgh {
  background-color: #00ab9f;
  color: #fff;
}
.leftgh .img-box {
  text-align: center;
}
.leftgh .img-box img {
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: 8px;
  margin-top: 30px;
  width: 80%;
}
.leftgh .name-det {
  padding: 30px;
  text-align: center;
}
.leftgh .name-det h2 {
  text-align: center;
  margin-bottom: 30px;
}
.leftgh .name-det h3 {
  width: 100%;
  background-color: #fff;
  color: #444;
  font-size: 1.1rem;
  padding: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}
.leftgh .name-det p {
  margin-bottom: 10px;
}
.leftgh .name-det .hoby-resume li {
  float: left;
  font-size: 0.9rem;
  padding: 15px;
  text-align: center;
  width: 33.33%;
}
.leftgh .name-det .hoby-resume li i {
  font-size: 22px;
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .leftgh .name-det {
    padding: 20px;
  }
}

.leftgh .name-det .contact-box {
  display: flex;
  padding: 10px 0px;
}
.leftgh .name-det .contact-box .icon {
  padding: 10px;
}
.leftgh .name-det .contact-box .icon i {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
}
.leftgh .name-det .contact-box .detail {
  font-size: 0.9rem;
  margin: auto 0;
}
.leftgh .name-det .pb0 {
  padding-bottom: 0px;
}

.leftgh .name-det .social-link li {
  padding: 10px 10px;
}

.leftgh .name-det .refer-cov {
  padding: 8px;
}
.leftgh .name-det .refer-cov b {
  font-size: 0.9rem;
}
.leftgh .name-det .refer-cov p {
  font-size: 0.8rem;
}
.leftgh .name-det .refer-cov span {
  font-size: 0.8rem;
}

/*# sourceMappingURL=style.css.map */
